{% extends "base.html" %}

{% block title %}Registro | doc.it{% endblock %}

{% block content %}
<section>
    <h2>Registro</h2>
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="username">Nome de usuário:</label>
            <input type="text" name="username" required minlength="3" maxlength="20">
        </div>

        <div>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>
        </div>

        <div>
            <label for="password1">Senha:</label>
            <input type="password" name="password1" required minlength="6">
        </div>

        <div>
            <label for="password2">Confirmar senha:</label>
            <input type="password" name="password2" id="password2" required>
        </div>

        <button type="submit">Registrar</button>
    </form>
</section>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
